label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.btnLogin {
    margin-left: 140px;
    margin-top: 10px;
}

.styleP {
    margin-left: 23px;
    color: red;
}

.styleImg {
    margin-left: 82px;
    margin-top: 17px;
}


.styleImgUser {
    height: 84px;
    border-radius: 93%;
    width: 92px;
    border: 2px solid #9ebbec;
    margin-left: 129px;
    margin-top: 3px;
}

.styleError {
    margin-left: 59px;
    margin-top: 10px;
    color: red;
}

.stylespan {
    margin-right: 6px;
}