footer {
    position: fixed;
    background-color: rgb(52 58 64);
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;
    height: 2pc;
    color: #8ce8f3;
    margin-left: 147px;
}

.styleFooter {
    width: 220pc;
}