@media print {
    body {
        zoom: 60%;
        size: A4;
    }

    .p {
        font-size: 9px;
        margin-left: 37px;
        margin-top: -35px;
    }

    .title {
        font-size: 12px;
        margin-top: -12px;
        margin-bottom: 1rem;
        margin: 0px;
    }

    .pDaikin {
        font-size: 10px;
        margin-left: -20px;
    }



    .styleForDD {
        margin-top: -6pc;
    }

    #SignRequest,
    #SignPU,
    #SignDD,
    #SignEN,
    #SignSQC,
    #SignQC,
    #SignDIL,
    #SignDIL2,
    #SignQA {
        position: relative;
    }

    #SignRequest::after {
        content: url('/public/asset/Image/Arrow1.png');
        position: absolute;
        bottom: -350px;
        left: 75px;
    }

    #SignPU::after,
    #SignEN::after,
    #SignDIL::after,
    #SignDIL2::after {
        content: url('/public/asset/Image/Arrow4.png');
        position: absolute;
        bottom: -36px;
        left: 75px;
    }

    #SignDD::after,
    #SignSQC::after,
    #SignQC::after {
        content: url('/public/asset/Image/Arrow3.png');
        position: absolute;
        bottom: -60px;
        left: 75px;
    }


    #SignQA::after {
        content: url('/public/asset/Image/Arrow3.png');
        position: absolute;
        bottom: -60px;
        left: 75px;
    }
}


@media screen {
    .p {
        font-size: 9px;
        margin-left: 37px;
    }

    .title {
        font-size: 12px;
        margin-top: -12px;
        margin-bottom: 1rem;
        margin: 0px;
    }

    .pDaikin {
        font-size: 10px;
        margin-left: -10px;
    }



    .styleForDD {
        margin-top: -6pc;
    }

    #SignRequest,
    #SignPU,
    #SignDD,
    #SignEN,
    #SignSQC,
    #SignQC,
    #SignDIL,
    #SignDIL2,
    #SignQA {
        position: relative;
    }

    #SignRequest::after {
        content: url('/public/asset/Image/Arrow1.png');
        position: absolute;
        bottom: -360px;
        left: 75px;
    }

    #SignPU::after,
    #SignEN::after,
    #SignDIL::after,
    #SignQC::after,
    #SignDIL2::after {
        content: url('/public/asset/Image/Arrow4.png');
        position: absolute;
        bottom: -36px;
        left: 75px;
    }

    #SignDD::after,
    #SignSQC::after {
        content: url('/public/asset/Image/Arrow3.png');
        position: absolute;
        bottom: -60px;
        left: 75px;
    }


    #SignQA::after {
        content: url('/public/asset/Image/Arrow6.png');
        position: absolute;
        bottom: -90px;
        left: 75px;
    }
}


.checkbox-container:has(> input:disabled:checked)::after {
    width: 15px;
    height: 15px;
    font-size: 10px;
    background: #000000;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 3px;
    color: white;
    position: relative;
    content: "\2713";
    text-align: center;
    float: left;
    margin: 3px 4px 0 0;
}

.checkbox-container input:disabled:checked {
    display: none
}


.radio-container:has(> input:disabled:checked)::after {
    width: 15px;
    height: 15px;
    font-size: 10px;
    background: #000000;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 3px;
    color: white;
    position: relative;
    content: "\2713";
    text-align: center;
    float: left;
    margin: 3px 4px 0 0;
    border-radius: 50%;
}

.radio-container input:disabled:checked {
    display: none
}