.mui {
    margin-right: 1%;
    margin-left: -6%;
    width: 193%;
}

.pagePermission {
    width: 85%;
    margin-left: 20px;
    margin-top: 17px;
}


.tablePermiss {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tablePermiss td,
.tablePermiss th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tablePermiss tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablePermiss tr:hover {
    background-color: #ddd;
}

.tablePermiss th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #8c9290;
    color: white;
}