.styleCreateform {
    width: 155pc;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: 29pc;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.stylePagee {
    width: 90%;
    margin-left: -43px;
    margin-top: 17px;
}

.styleCardLower {
    margin-top: 37px;
}

.styleRow {
    width: 138%;
    margin-top: 16px;
}

.styleCol {
    margin-top: -9px;
}


.styleChangeItem {
    text-align: center;
    margin-top: 16px;
}


.styleCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding-left: 12px;
}

.styleRowText {
    width: 103%;
    margin-top: 16px;
}

.label {
    display: 'flex';
    width: '41%'
}


.FormControl {
    width: 13pc;
    margin-top: -2pc;
    margin-left: 4pc;
}

.divddl {
    margin-top: -0.5%;
    margin-left: -5%;
}



table.tableCreateform {
    border-collapse: collapse;
    width: 100%;
    /* background-color: #f5f5f4 */
}

.tableCreateform table,
.tableCreateform td,
.tableCreateform th {
    border: 1px solid #afa7a7;
    text-align: center;
}




/* table.tbCreateform {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.tbCreateform th,
.tbCreateform td,
.tbCreateform tr {
    text-align: center;
    padding: 8px;
    border: 1px solid;
}

.tbCreateform tr:nth-child(even) {
    background-color: #f2f2f2
} */

.content {
    color: white;
    background-color: red;
    height: 9%;
    border-radius: 25%;
}

.flex {
    display: flex;
}