.styleCreateform {
    width: 155pc;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: 29pc;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.stylePagee {
    width: 85%;
    margin-left: 35px;
    margin-top: 17px;
}

.styleCardLower {
    margin-top: 37px;
}

.styleRow {
    width: 138%;
    margin-top: 16px;
}

.styleCol {
    margin-top: -9px;
}


.styleChangeItem {
    text-align: center;
    margin-top: 16px;
}


.styleCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding-left: 12px;
}

.styleRowText {
    width: 103%;
    margin-top: 16px;
}

.label {
    display: 'flex';
    width: '41%'
}


.FormControl {
    width: 13pc;
    margin-top: -2pc;
    margin-left: 4pc;
}

.divddl {
    margin-top: -0.5%;
    margin-left: -5%;
}



table.tableCreateform {
    border-collapse: collapse;
    width: 100%;
}

.tableCreateform table,
.tableCreateform td {
    border: 1px solid #afa7a7;
    text-align: center;
}

.tableCreateform th {
    border: 1px solid #afa7a7;
    text-align: center;
    width: 50px;
}

.content {
    color: white;
    background-color: red;
    height: 32px;
    width: 34px;
    border-radius: 50%;
    padding: 2px 8px;
}



.flex {
    display: flex;
}



.hithere {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(246, 4, 4) inset;
    margin-top: -10px;
}


.gelatine {
    animation: gelatine 0.5s infinite;
}

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}


.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}


.tscroll {
    overflow-x: scroll;
    margin-bottom: 10px;
    height: 500px;
}

/* .tscroll table tr:nth-child(2) th:first-child,
.tscroll table td:first-child {
    position: sticky;
    left: 0;
    background-color: #ddd;
} */

.tscroll table tr:nth-child(2) th:nth-child(4),
.tscroll table td:nth-child(4) {
    position: sticky;
    left: 0;
    background-color: #d0fbf4;
    border: 2px solid #ddd !important;
}



.tscroll table td:nth-child(1) {
    background-color: #d7d8d5;
}


/* /////** TABLE EXPORT EXCEL**** */
.tbExportExcel {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
}

.tbExportExcel td,
.tbExportExcel th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tbExportExcel tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tbExportExcel tr:hover {
    background-color: #ddd;
}

.tbExportExcel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

/* /////** END TABLE EXPORT EXCEL**** */