.Loading {
    padding: 50;
    background-color: 'rgba(0, 0, 0, 0.05)';
    border-radius: 4,
}

.styleCreateform {
    width: 155pc;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-right: 29pc;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.stylePage {
    width: 90%;
    margin-left: -111px;
    margin-top: 17px;
}

.styleCardLower {
    margin-top: 37px;
}

.styleRow {
    width: 100%;
    margin-top: 16px;
}

.styleCol {
    margin-top: -9px;
}


.styleChangeItem {
    text-align: center;
    margin-top: 16px;
}


.styleCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding-left: 12px;
}

.styleRowText {
    width: 103%;
    margin-top: 16px;
}

.label {
    display: 'flex';
    width: '41%'
}


.FormControl {
    width: 13pc;
    margin-top: -2pc;
    margin-left: 4pc;
}

.divddl {
    margin-top: -0.5%;
    margin-left: -5%;
}



table.tbCreateform {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.tbCreateform th,
.tbCreateform td {
    text-align: center;
    padding: 8px;
    border: 1px solid;
}

.tbCreateform tr:nth-child(even) {
    background-color: #f2f2f2
}

.Distribution {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.styleCustomer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.styleButton {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.styleButtonCreate {
    display: flex;
    justify-content: space-between;
    padding: 9px;
}

.notify {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    font-size: 15px;
}

.notify td,
.notify th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 15px;
}



.ReceiveSection th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #98a9bb;
    color: white;
    font-size: 13px;
}

.ReceiveSection {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    font-size: 13px;
}

.ReceiveSection td,
.ReceiveSection th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-size: 13px;
}



.ReceiveSection th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #98a9bb;
    color: white;
    font-size: 13px;
}

.swal2-container {
    z-index: 20000 !important;
}


.square {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: whiteSmoke;
    box-shadow: 4px -40px 60px 5px rgb(26, 117, 206) inset;
}

.hithere {
    animation: hithere 1s ease infinite;
}

@keyframes hithere {
    30% {
        transform: scale(1.2);
    }

    40%,
    60% {
        transform: rotate(-20deg) scale(1.2);
    }

    50% {
        transform: rotate(20deg) scale(1.2);
    }

    70% {
        transform: rotate(0deg) scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}